dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*


# deleteme folder used by dedupe
/test-data/deleteme/

# local logs and outputs
dedupe-output.txt
*.log

# cabal backup files
*.cabal.bak
*.fixbak


# editor / OS junk
.vscode/
*.swp
Thumbs.db
